<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Website Scanner</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <div class="header-container">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/download.jpeg') }}" />
      </div>
      <div class="header-title">
        <h1>Fraud Website Detector</h1>
      </div>
    </div>
  </header>

  <main class="scanner-section">
    <div class="scanner-text">
      <h1>Stop. Think. <br> Don't get scammed!</h1>
      <h2>Website scams<br> vulnerability scanner</h2>
      <p>
        Get a full website security check for scams, known <br />
        vulnerabilities and security headers.
      </p>

      <form id="scannerForm">
        <input type="url" id="websiteUrl" placeholder="Enter website URL..." required />
        <button type="submit">SCAN</button>
      </form>

      <div class="links">
        <a href="#" onclick="showDisclaimer()">DISCLAIMER</a> <br><br>
        <div id="disclaimerText" style="display:none; margin-bottom: 10px; color: red; font-size: 14px;">
    This tool offers a preliminary assessment and serves as a helpful indicator, but cannot guarantee absolute accuracy. Always exercise caution and independently verify all information before engaging with any website.
  </div>
        <a href="{{ url_for('get_money_back') }}">HOW TO GET YOUR MONEY BACK</a>
      </div>
    </div>

    <div class="scanner-image">
      <img src="{{ url_for('static', filename='images/my_image.jpg') }}" alt="Scanner Visual" width="600"/>
    </div>
  </main>

  <!-- Result Section -->
  <section id="resultSection" style="display:none; margin: 50px;">
    <h2>Results for <span id="domain"></span></h2>
    <p><strong>Trust Score:</strong> <span id="trustscore"></span></p>
    <p><strong>Scam Detected:</strong> <span id="scam_detected"></span></p>
    <p><strong>Violations:</strong> <span id="violations"></span></p>
    <p><strong>IP Address:</strong> <span id="ip"></span></p>
    <p><strong>SSL Valid:</strong> <span id="ssl_valid"></span></p>
    <p><strong>Missing Headers:</strong> <span id="headers"></span></p>
    <p><strong>Rating:</strong> <span id="rating"></span> / 5</p>
    <p><strong>Reviews:</strong> <span id="reviews"></span></p>

    <div class="feelings" style="display:flex; gap:20px; margin-top:20px;">
      <div>😡 <br> <span id="angry"></span></div>
      <div>😐 <br> <span id="neutral"></span></div>
      <div>😊 <br> <span id="happy"></span></div>
      <div>😍 <br> <span id="very_happy"></span></div>
    </div>
  </section>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
